@import "bootstrap/bootstrap";

@import "utils/vars";
@import "utils/libs";
@import "utils/fonts";
@import "utils/media";

@import "modules/header";
@import "modules/panels-and-moules";
@import "modules/products";
@import "modules/description";
@import "modules/panel-versus";
@import "modules/sertificats";
@import "modules/blog";
@import "modules/footer";
@import "modules/mobile-navigation";
@import "modules/search-popup";


body{
  font-family: $mainFont;
}
*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   width: 100% ;
   @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 20px;
  }
  @media screen and (min-width: 992px ){
    font-size: 24px;
  }
}
a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.section-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @media screen and(min-width: 768px) {
    max-width: 100%;
    margin: 0 auto;
  }
  @media screen and(min-width: 992px){

  }
  @media screen and(min-width: 1100px){
    max-width: 1080px;
    margin: 0 auto;
  }
  @media screen and(min-width: 1200px){

  }
  // @media screen and(min-width: 1366px){
  //   min-width: 1180px;
  //   margin: 0 auto;
  // }
}

.section-title{
  margin-bottom: 10px;
  span{
      font-size: 9px;
      color: #707070;
      @media screen and (min-width: 480px ){
        font-size: 10px;
      }
      @media screen and (min-width: 640px ){
        font-size: 11px;
      }
      @media screen and (min-width: 992px ){
        font-size: 12px;
      }
      
  }
  h1{
      font-size: 22px;
      line-height: 22px;
      padding: 15px 0;
      font-weight: 400;
  }
  p{
      font-size: 15px;
      margin-bottom: 10px;
  }
  @media screen and (min-width: 992px ){
      margin-bottom: 20px;
  }
}

.btn{
  background: #fff;
  color: $primary-darken;
  padding: 0;
  border-radius: 20px;
  padding: 7px 45px;
  border: 0;
  font: 12px "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s ease-in-out;
  @media screen and (min-width:320px) and (max-width: 767px){
    display: block;
    margin: 0 auto;
  }
  &:hover{
      background: $secondary-darken;
      transition: .2s ease-in-out;
      color: #fff;
  }
}

.article-description{
  position: relative;
  margin-bottom: 15px;
  h3{
      padding-bottom: 10px;
      font-size: 25px;
      font-weight: 500;
      @media screen and (min-width: 992px ){
          padding-bottom: 30px;
          font-size: 30px;
          font-weight: 400;
      }
  }
  p{
    
      @media screen and (min-width: 992px ){
          font-size: 16px;
      }
  }
  a{
      padding-top: 10px;
      display: block;
      font-weight: 700;
      color: $darkenMain;
      text-decoration: none;
      transition: .3s ease-in-out;
      @media screen and (min-width: 992px ){
          padding: 0;
          display: inline-block;
      }
      &:hover{
          color: #FFD657;
          transition: .3s ease-in-out;
      }
  }
  &:last-child{
      margin-bottom: 0!important;
  }
}

.product-offer{
  background: #005CA8;
  text-align: center;
  padding: 10px 10px;
  width: 100%;
  @media screen and (min-width: 640px ) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 40px ;
      flex-wrap: wrap;
      
  }
  @media screen and (min-width: 992px ) {
      padding: 20px 40px;
  }
  @media screen and (min-width: 1100px ) {
    padding: 25px 0;
  }
  .section-container{
    align-items: center;
    @media screen and (min-width: 1100px ) {
        padding: 0px 90px;
    }
  img{
      margin-bottom: 7.5px;
      flex: 0 0 25%;
      margin:  0 auto;
       @media screen and (min-width: 640px ) {
           margin-bottom: 10px;
       }
       @media screen and (min-width: 860px ) {
        margin-bottom: 0;
       }
       @media screen and (min-width: 992px ) {
        flex: 0 0 20%;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1100px ) {
          margin: 0;
      }
  }
  p{
      color: $main;
      font-size: 14px;
      margin-bottom: 10px;
      flex: 0 0 100%;
      @media screen and (min-width: 640px ) {
        margin-bottom: 15px;
      }
       @media screen and (min-width: 800px ) {
           padding: 0 10px;
           font-size: 13px;
       }
       @media screen and (min-width: 860px ) {
        flex: 0 0 50%;
        margin: 0;
      }
      @media screen and (min-width: 992px ) {
        flex: 0 0 60%;
      }
       @media screen and (min-width: 1100px ) {
          font-size: 16px;
          margin-bottom: 0;
      }
      b{
        display: block;

    }
  }
  .btn-wrap{
      text-align: center;
      flex: 0 0 100%;
      @media screen and (min-width: 860px ) {
        text-align: right;
        flex: 0 0 20%;
      }
      @media screen and (min-width: 992px ) {
        flex: 0 0 15%;
    }
    @media screen and (min-width: 1100px ) {
      flex: 0 0 16%;
    }
  }
}
}
.back-link-container{
  @media screen and (min-width: 1100px ) {
    padding: 0 40px;
  }
  .back-link{
    margin-top: 152px;
    display: block;
    font-size: 9px;
    opacity: .7;
    color: #000;
    padding-left: 15px;
    transition: .2s ease-in-out;
    text-decoration: none !important;
    @media screen and (min-width: 480px ) {
      margin-top: 158px;
    }
    @media screen and (min-width: 640px ) {
        font-size: 10px;
        margin-top: 163px;
        padding-left: 40px;
    }
    @media screen and (min-width: 992px ) {
        font-size: 11px;
        margin-top: 80px;
    }
    @media screen and (min-width: 1100px ) {
      padding: 0;
      margin-top: 85px;
    }
    @media screen and (min-width: 1200px ) {
        font-size: 12px;
        margin-top: 93px;
        padding: 0;
    }
    &:hover{
        transition: .3s ease-in-out;
        opacity: 1;
        color: #000;
    }
  }
}