#blog{
    padding: 0px 0px 10px;
    background-position: center !important;
    @media screen and (min-width: 640px ) {
        padding: 0px  0px 15px;
    }
    @media screen and (min-width: 992px ) {
        padding: 0px  0px 50px ;
    }
    @media screen and (min-width: 1200px ) {
        padding:0px 0px 35px;
    }
    .section-title{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 0;
     
        h2{
            font-size: 25px;
            font-weight: 400;
            padding: 20px 0 10px;
            @media screen and (min-width: 640px ){
                font-size: 30px;
                padding: 30px 0 15px;
            }
            @media screen and (min-width: 992px ){
                font-size: 35px;
                padding: 40px;
            }
            @media screen and (min-width: 1100px ){
                font-size: 40px;
                padding: 50px;
            }
        }
    }
    .blog-wrap{
        width: 100%;
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (min-width: 640px ) {
            padding: 0 40px;
        }
        @media screen and (min-width: 768px ) {
            padding: 0;
            justify-content: space-between;
        }

        @media screen and (min-width: 1100px ) {
            max-width: 1080px;
            margin: 0 auto;
        }
        .blog-item{
            width: 100%;
            margin: 10px 0;
            padding: 20px 50px;
            @media screen and (min-width: 640px ) {
                width: 100%;
                padding: 30px 50px;
                margin: 15px 0;
            }
            @media screen and (min-width: 768px ) {
                margin: 0;
                width: 49%;
                margin-bottom: 15px;
                padding: 35px 47px;
                // margin-right: 15px;
            }
            @media screen and (min-width: 992px ) {
                width: 49.2%;
                padding: 40px 47px;
            }
            @media screen and (min-width: 1100px ) {
                width: 49.4%;
                margin-bottom: 15px;
                padding: 50px 47px;
            }

  

            .article-description{
                color: $main;
                .article-link{
                    display: block;
                    text-transform: unset;
                    h3{
                        font-weight: 400;
                        padding-bottom: 10px;
                        font-size: 22px;
                        @media screen and (min-width: 640px ) {
                            padding-bottom: 15px;
                            font-size: 25px;
                        }
                        @media screen and (min-width: 992px ) {
                            font-size: 28px;
                        }
                        @media screen and (min-width: 1100px ) {
                            font-size: 31px;
                            padding-bottom: 20px;
                        }
                    }
                }
                p{
                    font-size: 13px;
                    padding-bottom: 10px;
                    font-weight: 300;
                    padding-bottom: 10px;
                    margin: 0;
                    @media screen and (min-width: 640px ) {
                        font-size: 14px;
                        padding-bottom: 15px;
                    }
                    @media screen and (min-width: 992px ) {
                        padding-bottom: 20px;
                    }
                    @media screen and (min-width: 1100px ) {
                        padding-bottom: 25px;
                    }
                }
                a{
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $main;
                    transition: .3s ease-in-out;
                    padding: 0;
                    font-size: 12px;
                    display: inline-block;
                    &:hover{
                        color: $secondary-darken;
                        transition: .3s ease-in-out;
                    }
                }
            }
            &:nth-child(1){
                background: $darkenMain;
            }
            &:nth-child(2){
                background: transparent;
                margin-right: 0;
                .article-description{
                    color: $darkenMain;
                    a{
                        color: $darkenMain;
                        &:hover{
                            color: $secondary-darken;
                        }
                    }
                }
            }
            &:nth-child(3){
                background: $secondary-darken;
                .article-description{
                    a{
                        color: $main;
                        transition: .3s ease-in-out;

                        &:hover{
                            color: $darkenMain;
                            transition: .3s ease-in-out;

                        }
                    }
                }
            }
            &:nth-child(4){
                background-color: rgba(#003479, .7 );
                margin-right: 0;
            }
        }
    }
}