#description{
    background-size: cover;
    padding: 40px 15px;
    background-position: center !important;
    @media screen and (min-width: 640px ) and (max-width: 991px){
        padding: 60px 40px 60px ;
    }
    @media screen and (min-width: 992px ){
        padding: 80px  40px;
    }
    
    @media screen and (min-width: 1100px ){
        padding: 100px 40px;
    }

    .article-description{
        margin-bottom: 20px;
        @media screen and (min-width: 640px ) {
            margin-bottom: 30px;
        }
        @media screen and (min-width: 992px ) {
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1100px ) {
            margin-bottom: 50px;
        }
        h2{
            color: $main;
            font-size: 25px;
            font-weight: 400;
            padding-bottom: 10px;
            @media screen and (min-width: 640px ) {
                font-size: 30px;
                padding-bottom: 15px;
            }
            @media screen and (min-width: 992px ) {
                font-size: 35px;
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1100px ) {
                font-size: 40px;
                padding-bottom: 25px;
            }
        }
        p{
            color: $main;
            font-size: 12px;
            margin-bottom: 10px;
            @media screen and (min-width: 640px ) {
               font-size: 14px;
            }
            @media screen and (min-width: 992px ) {
                margin-bottom: 20px;
            }
            @media screen and (min-width: 1100px ) {
                margin-bottom: 25px;
            }
        }
        a{
            color: $secondary-darken;
            transition: .4s ease-in-out;
            display: inline-block;
            padding-top: 0;
            font-size: 12px;
            &:hover{
                color: $main;
                transition: .4s ease-in-out;
            }
        }
    }
}