header{
    background: $primary-darken;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 7px 20px -1px rgba(0,0,0,.75);
    padding: 5px 0;
    display: flex;
    align-items: center;
    min-height: 58px;
    // LOGO BLOCK
    .logo-block{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
        max-width: 250px;
        @media screen and (min-width: 320px){
            img{
                opacity: 1;
                max-width: 80%;
                transition: .3s ease-in-out;
                &:hover{
                    opacity: .7;
                    transition: .3s ease-in-out;
                }
            }
        }
        @media screen and (min-width: 440px){
            margin-top: 0;
            img{
                max-width: unset;
            } 
        }
        &.hidden{
            opacity: 0;
            transition: .85s ease-in-out;
        }
    }
    // END LOGO
    // MENU ITEMS
    .nav-wrapper{

        ul{
            
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: 1200px) {
                display: none;
            }
            li{
                list-style: none;;
                flex: 1 0 auto;
                text-align: center;
                
                a{  
                    display: inline-block;
                    font-size: 13px;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-decoration: none;
                    transition: .2s ease-in-out;
                    font-family: 'Montserrat', sans-serif;
                    padding: 20px 0;
                    cursor: pointer;
                    @media screen and (min-width: 1366px) {
                        font-size: 14px;
                    }
                    &:hover{
                        transition: .2s ease-in-out;
                        color: $secondary-darken;
                    }
                }
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }
    // END MENU ITEMS

    // SOCIAL BLOCK ITEMS
    .socials-block{
        display: none;
        @media screen and (min-width: 1201px) {
            position: absolute;
            right: 0;
            display: block;
            top: -10px;
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            vertical-align: middle;
            li{
                padding: 25px 7px;
                display: inline-block;

                a{
                    text-decoration: none;
                    width: 18px;
                    height: 18px;
                    display: inline-block;
                    &:hover{
                        svg{
                            fill: $secondary-darken;
                            transition: .2s ease-in-out;
                        }
                    }
                    svg{
                        transition: .2s ease-in-out;
                        width: 17px;
                        height: 17px;
                        fill: #CFDDE9;
                    }
                }
                &:nth-child(3){
                    a{
                        width: 30px;
                        svg{
                            width: 22px;
                            height:29px
                        }
                    }
                }
                &:last-child{
                    padding: 0;
                }
                &.search-header{
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        // LANGUAGE BLOCK
        .lang-select{
            display: block;
            margin: 0px 0px 0px 10px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            color: #87AAC8;
            cursor: pointer;
            transition: .3s ease-in-out;
            i{
                vertical-align: middle;
                font-size: 14px;
            }
            &:hover{
                i{
                    color: $secondary-darken;
                    transition: .3s ease-in-out;
                }
                color: $secondary-darken;
                transition: .3s ease-in-out;
            }
        }
    }
    // END SOCIAL BLOCK

    // MOBILE MENU (320-1200) px
    .mobile-nav{
        position: absolute;
        opacity: 0;
        width: 100%;
        text-align: center;
        background: $primary-darken;
        transition: right 3s ease-in-out, opacity .5s ease-in-out;
        top: 52px;
        right: -600px;
        z-index: 900;
        
        &.active{
            overflow-y: auto;
            position: absolute;
            opacity: 1;
            z-index: 900;
            top: 52px;
            right: 0;
            transition: right .1s ease-in-out, opacity .6s ease-in-out;
            height: 100vh;
        }
        ul{
            li{
                
                a{  
                    text-transform: uppercase;
                    padding: 10px 0;
                    display: inline-block;
                    width: 100%;
                    font: 14px "Montserrat";
                    font-weight: 600;
                    color: #fff;
                    text-decoration: none;
                    transition: .2s ease-in-out;
                    line-height: 16px;
                    &:hover{
                        color: $secondary-darken;
                        transition: .2s ease-in-out;
                    }
                }
                &.mobile-have-submenu{
                    max-height: 38px;
                    overflow: hidden;
                    position: relative;
                    transition: .4s ease-in-out;
                    cursor: pointer;
                    div{
                        position: relative;
                        display: inline-block;
                        i{
                            right: -30px;
                            top: 6px;
                            position: absolute;
                            margin-left: 10px;
                            color: #fff;
                            cursor: pointer;
                            transform: rotateX(0);
                            &.active{
                                transform: rotateX(-165deg);
                            }
                        }
                       
                    }
                    h3{
                        font-size: 17px;
                        text-transform: uppercase;
                        margin: 30px 0 10px;
                        color: #fff;
                        font-weight: 600;

                    }
                    .sub-list{
                        &:last-child{
                            margin-bottom: 15px;
                        }
                    }
                    &.active{
                        max-height: 700px;
                        padding: 0 30px;
                        transition: .4s ease-in-out;
                        a{
                            color: $secondary-darken;
                            
                        }
                        .sub-list{
                            a{
                                color: $main;
                                font-weight: 300;
                                &:hover{
                                    color: $secondary-darken;
                                }
                            }

                        }
                    }
                    &:hover{
                        div{a{color: $secondary-darken;}i{color: $secondary-darken;transition: .4s ease-in-out;}}
                        // a{color: $secondary-darken;transition: .4s ease-in-out;}
                        
                    }
                }
            }
        }
        .mobile-search{
            display: block;
            margin-top: 20px;
            input{
                background: transparent;
                border: unset;
                border-bottom: 1.5px solid #fff;
                color: #fff;
                padding: 5px;
                outline: none;
                &::placeholder{
                    color: #fff;
                }
            }
            button{
                border: unset;
                background: transparent;
            }
        }
        .mobile-lang{
            margin-top: 20px;
            span{
                text-transform: uppercase;
                opacity: .75;
                color: #fff;
                font-weight: 600;
                margin-right: 20px;
                &.active{
                    opacity: 1;
                }
            }
        }
        .mobile-socials{
            margin-top: 20px;
            li{
                padding: 25px 17px;
                display: inline-block;

                a{
                    text-decoration: none;
                    width: 20px;
                    height: 18px;
                    display: inline-block;
                    &:hover{
                        svg{
                            fill: $secondary-darken;
                            transition: .2s ease-in-out;
                        }
                    }
                    svg{
                        transition: .2s ease-in-out;
                        width: 20px;
                        height: 20px;
                        fill: #CFDDE9;
                    }
                }
                &:nth-child(3){
                    a{
                        width: 30px;
                        svg{
                            width: 30px;
                            height:29px
                        }
                    }
                }
                &:last-child{
                    padding: 25px;
                }
            }
        }
    }
    // END MOBILE MENU

    // HAMBURGER MENU
    .navTrigger {
        display: none;
        cursor: pointer;
        width: 30px; 
        height: 25px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        @media screen and(min-width: 320px) and (max-width: 1200px){
            display: inline-block;
        }
        i {
          background-color: #fff;
          border-radius: 2px;
          content: '';
          display: block;
          width: 100%;
          height: 4px;
        }
        i:nth-child(1) {
          -webkit-animation:outT 0.8s backwards;
          animation:outT 0.8s backwards;
          -webkit-animation-direction:reverse;
          animation-direction:reverse;
        }
        i:nth-child(2) {
          margin: 5px 0;
          -webkit-animation:outM 0.8s backwards;
          animation:outM 0.8s backwards;
          -webkit-animation-direction:reverse;
          animation-direction:reverse;
        }
        i:nth-child(3) {
          -webkit-animation:outBtm 0.8s backwards;
          animation:outBtm 0.8s backwards;
          -webkit-animation-direction:reverse;
          animation-direction:reverse;
        }
        &.active {
          i:nth-child(1) {
            -webkit-animation:inT 0.8s forwards;
            animation:inT 0.8s forwards;
          }
          i:nth-child(2) {
            -webkit-animation:inM 0.8s forwards;
            animation:inM 0.8s forwards;
          }
          i:nth-child(3) {
            -webkit-animation:inBtm 0.8s forwards;
            animation:inBtm 0.8s forwards;
          }
        }
      }
    // END HAMBURGER MENU

    // SUBMENU
    .has-submenu{
        .submenu{
            @media screen and (min-width: 1201px) and (max-width: 1280px){
                padding-left: 40px;
                .submenu-column{
                    margin: 0 15px;
                }
            }
            transition: .35s opacity .25s ease-in-out, .55s right .55s ease-in-out;
            // transition-delay: .1s;
            opacity: 0;
            position: fixed;
            padding-top: 60px;
            padding-bottom: 40px;
            padding-left: 110px;
            z-index: 10;
            top: 69px;
            right: -9999px;
            opacity: 0;
            width: 100%;
            overflow: hidden;
            background: #005CA8;
            .submenu-column{
                display: inline-block;
                float: left;
                width: 22%;
                margin: 0 19px;
                &:last-child{
                    margin-right: 0;
                }
                h3{
                    text-transform: uppercase;
                    font: 14px "Montserrat";
                    color: #fff;
                    margin-bottom: 30px;
                    text-align: left;
                }
                .sub-list{
                    
                    display: block;
                    li{
                        text-align: left;
                        padding: 0;
                        a{
                            display: inline-block;
                            padding: 0;
                            text-transform: none;
                            font: 14px "Montserrat";
                            color: #fff;
                            font-weight: 400; 
                            padding: 7px 0; 
                            width: 100%;                    
                              &:hover{
                            
                                color: $secondary-darken;
                            
                            }

                        
                        }

                    }
                }
            }
        }
        &:hover{
            .submenu{
                transition: opacity .5s ease-in-out, right .1s ease-in-out;
                transition-delay: .2s;
                opacity: 1;
                right: 0;
            }
        }
    }


}

    // ANIMATIONS KEYFRAMES

    @keyframes inM{
        50%{transform:rotate(0deg);}
        100%{transform:rotate(45deg);}
    }
    @keyframes outM{
        50%{transform:rotate(0deg);}
        100%{transform:rotate(45deg);}
    }
    @keyframes inT{
        0%{transform: translateY(0px) rotate(0deg);}
        50%{transform: translateY(9px) rotate(0deg);}
        100%{transform: translateY(9px) rotate(135deg);}
    }
    @keyframes outT{
        0%{transform: translateY(0px) rotate(0deg);}
        50%{transform: translateY(9px) rotate(0deg);}
        100%{transform: translateY(9px) rotate(135deg);}
    }
    @keyframes inBtm{
        0%{transform: translateY(0px) rotate(0deg);}
        50%{transform: translateY(-9px) rotate(0deg);}
        100%{transform: translateY(-9px) rotate(135deg);}
    }
    @keyframes outBtm{
        0%{transform: translateY(0px) rotate(0deg);}
        50%{transform: translateY(-9px) rotate(0deg);}
        100%{transform: translateY(-9px) rotate(135deg);}
    }
    // END ANIMATION KEYFRAMES