.mobile-serias-navigation{
    position: fixed;
    background: red;
    border-radius: 0 0 100px;
    width: 15%;
    max-height: 80px;
    overflow: hidden;
    transition: .5s ease-in-out, border-radius .7s ease-in-out;
    z-index: 999;
    &.active{
        width: 100%;
        height: auto;
        border-radius: 0;
        transition: .5s ease-in-out, border-radius .7s ease-in-out;
        max-height: 100%;
    }
}