#panels-and-modules{
    padding: 0px 15px 240px;
    background-size: cover !important;
    background-position: center !important;
    @media screen and (min-width: 640px ) and (max-width: 991px){
        padding: 0px 40px 260px 40px;
    }
    @media screen and (min-width: 992px ){
        padding: 0px 40px 380px 40px;
    }
    @media screen and (min-width: 1200px ){
        padding: 0px 40px 380px 40px;
    }
    &.active{
        margin-top: 74px;
    }
    .section-title{
        margin-bottom: 20px;
        @media screen and (min-width: 640px ){
            margin-bottom: 30px;
        }
        h1{
            font-size: 30px;
            line-height: 40px;
            padding-bottom: 10px;
            color: #000;
            font-weight: 400;
            padding-top: 0;
            @media screen and (min-width: 640px ) and (max-width: 991px) {
                font-size: 35px;
                padding-bottom: 15px;
            }
            @media screen and (min-width: 992px ){
                font-size: 40px;
                line-height: unset;
                padding: 0 0 20px;
            }
            @media screen and (min-width: 1100px ) {
                font-size: 45px;
                padding-bottom: 25px;
            }

        }
        p{
            font-size: 12px;
            margin: 0;
            line-height: 22px;
            @media screen and (min-width: 640px ){
                font-size: 14px;
            }
        }
        &.active{
            display: none;
        }
    }

    // PANELS NAVIGATION
    .panels-and-modules-navigation{
        background: #005CA8;
        padding: 10px 10px 0px;
        position: absolute;
        width: 100%;
        top: 58px;
        left: 0;
        z-index: 99;
        transition: .3s ease-in-out;
        overflow: hidden;
        &.active{
            transition: .3s ease-in-out;
            left: 0;
        }
        @media screen and (min-width: 992px ){
            padding-bottom: 20px;
        }
        @media screen and (min-width: 992px ){
            position: inherit;
            display: inline-block;
            width: 30%;
            max-width: 260px;
            padding: 30px 27px 23px 30px;
            height: 100%;
        }
        h6{
            font-weight: 700;
            color: $main;
            padding-bottom: 8px;
            display: none;
            @media screen and (min-width: 992px ){
                font-size: 18px;
                display: block;
            }
        }
        .serials{
            @media screen and (min-width: 992px ){
                margin-bottom: 30px;
                overflow: hidden;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                @media screen and (min-width: 992px ){
                    display: inherit;
                    width: 100%;
                }
                &.more{
      
                    position: absolute;
                    left: 0;
                    padding-top: 10px;
                    @media screen and (min-width: 992px ){
                        display: none;
                    }
                    li{
                        display: inline-block;
                        width: 20%;
                    }        
                }
                .navigation-link-has-sub-menu{
                    text-align: center;
                    max-height: 30px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    width: 31%;
                    margin-right: 5px;
                    @media screen and (min-width: 992px ){
                      margin-bottom: 0;
                      width: 100%;
                      text-align: left;
                      height: 100%;
                  }
                    @media screen and (min-width: 1200px ){
                        text-align: left;
                        width: 100%;
                    }
                    a{
                        font-size: 10px;
                        color: $main;
                        font-weight: 400;
                        width: 100%;
                        display: inline-block;
                        padding: 5px 0;
                        text-decoration: none;
                        transition: .3s ease-in-out;
                        &.more-link{
                            opacity: .8;
                            i{
                                vertical-align: middle;
                                font-size: 14px;
                            }
                        }
                        @media screen and (min-width: 400px ){
                            font-size: 11px;
                            padding: 7px 0;
                        }
                        @media screen and (min-width: 480px ){
                            font-size: 12px;
                        }
                        @media screen and (min-width: 600px ){
                            font-size: 13px;
                        }
                        @media screen and (min-width: 768px ){
                            font-size: 14px;
                        }
                        @media screen and (min-width: 768px ){
                          font-size: 15px;
                      }
                        @media screen and (min-width: 1200px ){
                            font-size: 16px;
                        }
                        &:hover{
                            color: #FFD657;
                            transition: .3s ease-in-out;
                        }
                        &.active{
                            color: #FFD657;
                            
                        }
      
      
                    }
      
                    .panels-and-modules-sub-menu{
                        padding-left: 20px;
                        background: #006BC4;
                        @media screen and (min-width: 350px){
                            position: relative;
                            left: -13%;
                            width: 100vw;
                            padding: 10px 5px 20px;
                            
                        }
                        
                        @media screen and (min-width: 992px){
                            background: transparent;
                            width: 100%;
                            left: unset!important;
                        }
                        li{
                            width: 33%;
                            @media screen and (min-width: 992px ){
                              width: 100%;
                          }
                            @media screen and (min-width: 1200px){
                                width: 100%;
                                
                            }
                        }
                    }
      
                    // &.active{
                    //     max-height: 500px;
                    //     // transition: .4s ease-in;
                    //     background: #006BC4;
                    //     overflow: unset;
                    //     @media screen and (min-width: 992px){
                    //         background: transparent;
                    //     }
                    //     .sub-menu-link{
                    //         color: #FFD657;
                    //     }
                    // }
                    // &:nth-child(1){
                    //     .panels-and-modules-sub-menu{
                    //         left: -7%;
                    //     }
                    // }
                    // &:nth-child(2){
                    //     .panels-and-modules-sub-menu{
                    //         left: -108%;
                    //     }
                    // }
                    // &:nth-child(3){
                    //     .panels-and-modules-sub-menu{
                    //         left: -208%;
                    //     }
                    // }
                    // &:nth-child(4){
                    //     .panels-and-modules-sub-menu{
                    //         left: -7%;
                    //     }
                    // }
                    // &:nth-child(5){
                    //     .panels-and-modules-sub-menu{
                    //         left: -108%;
                    //     }
                    // }
                    &:last-of-type(){
                        display: block;
                        .panels-and-modules-sub-menu{
                            left: -208%;
                        }
                        @media screen and(min-width: 992px){
                            display: none;
                        }
                    }
                    // &:nth-child(5){
                    //     .panels-and-modules-sub-menu{
                    //         left: -117%;
                    //     }
                    // }
                }
            }
      
      
      
        }
        .navigation-more{
            display: none;
            @media screen and (min-width: 992px ){
                display: block;
            }
            ul{
                li{
                    a{
                        color: $main;
                        font-weight: 400;
                        width: 100%;
                        display: inline-block;
                        padding: 7px 0;
                        text-decoration: none;
                        transition: .3s ease-in-out; 
                        
                        &:hover{
                            color: #FFD657;
                            transition: .3s ease-in-out;
                        }
                        &.active{
                            color: #FFD657;
                        }
                    }
                }
            }
        }
      }
      
    // SHOW BTN

    .btn{
    
        &.show{
            z-index: 100;
            transition: .3s ease-in-out;
            right: 70px;
            top: -200px;
            position: fixed;
            opacity: 1;
            font-size: 11px;
            padding: 8px 20px;
            
        }
        &.hidden{
            display: none;
        }
            @media screen and (min-width: 992px ){
                display: none;
            }
        
    }


    // PANELS DESCRIPTION
    .panels-and-modules-description-active{
        display: none;
        @media screen and(min-width: 768px){
            width: 65%;
            padding-left: 20px;
        }
        @media screen and (min-width: 992px ){
            padding-left: 30px;
            min-width: 71.4%;
        }
        @media screen and (min-width: 1200px ) {
            padding-left: 50px;
            width: 76%;
        }
        @media screen and (min-width: 1366px ) {
            padding-left: 80px;

        }
        &.active{
            display: block;
        }
    }
    .article-panel-description{

        h3{
            @media screen and (min-width: 1200px ){
                font-size: 60px;
                padding-bottom: 10px;
            }
        }
        p{
            font-weight: 400;

        }
    }

    .panel-parameters{
        background: $mainColor;
        color: $main;
        text-align: center;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        @media screen and (min-width: 500px) and (max-width: 767px) {
            margin-bottom: 20px;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            align-items: unset;
        }
        p{
            width: 100%;
            text-transform: uppercase;
            line-height: 30px;
            font-weight: 300;
            margin-bottom: 30px;
            @media screen and (min-width: 500px) and (max-width: 1199px) {
                width: 49%;

            }
            @media screen and (min-width: 1200px) {
                width: 25%;
                margin-bottom: 0;
            }
            b{
                font-weight: 700;
                color: $secondary-darken;
                margin-bottom: 10px;
            }
            &:nth-child(1){
                text-transform: unset;
                color: $main;
                b{
                    color: $main;
                }
            }
        }

    }

    .panel{
        width: 100%;
        overflow: hidden;
        padding: 20px 0;
        border-bottom: 1.5px solid #eee;
        @media screen and(min-width: 768px){
        }
        .panels-and-modules-description-table{
            padding-top: 30px;
            position: relative;
            @media screen and(min-width: 992px){
                width: 30%;
                display: inline-block;
            }
            @media screen and(min-width: 992px){
                width: 35%;
            }
            @media screen and(min-width: 992px){
                min-height: 550px;
            }
            .panel-description-name{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
                @media screen and(min-width: 1200px){
                    font-size: 40px;
                }
            }
            img{
                @media screen and(min-width: 1200px){
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
    
            }
            .btn{
                display: none;
                position: absolute;
                bottom: 0;
                background: $mainColor;
                color: $main;
                @media screen and (min-width: 992px){
                    display: block;
                }
            }
        }
        .panels-and-modules-description-table-parameters{
            @media screen and(min-width: 768px) {
            }
            @media screen and(min-width: 992px) {
                float: right;
                width: 64%;
                display: inline-block;
            }
            @media screen and(min-width: 1200px) {
          
                width: 60%;
    
            }
            @media screen and(min-width: 1366px) {
          
                width: 55%;
    
            }
            h6{
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
                margin-top: 30px;
                @media screen and(min-width: 1200px){
                    font-size: 30px;
                    margin-top: 40px;
                }
            }
            p{
                font-weight: 400;
                margin-bottom: 15px;
                position: relative;
                @media screen and(min-width: 1200px){
                    margin-bottom: 28px;
                }
                span{
                    padding-top: 5px;
                    display: block;
                    color: $mainColor;
                    @media screen and(min-width: 500px){
                        position: absolute;
                        top: -2px;
                        right: 0;
                        display: inline-block;
                    }
                }
                &.panel-power{
                    span{
                        color: $secondary-darken;
                    }
    
                }
                &.panel-performance{
                    span{
                        color: $secondary-darken;
                    }
                }
            }
            .btn{
                @media screen and (min-width: 992px) {
                    display: none;
                }
            }
        }
    }

    
.panels-and-modules-description{
    padding: 0;
    display: inline-block;
    @media screen and (min-width: 992px ) {
        padding-left: 50px;
    }
    @media screen and (min-width: 1200px ) {
        padding-left: 100px;
    }
    .article-description{
        margin-bottom: 20px;
        @media screen and (min-width: 640px) {
            margin-bottom: 30px;
        }  
        @media screen and (min-width: 1100px) {
            margin-bottom: 50px;
        }
        h3{
            font-size: 25px;
            font-weight: 400;
            padding-bottom: 9px;
            @media screen and (min-width: 640px) {
                font-size: 30px;
            }
            @media screen and (min-width: 992px) {
                font-size: 35px;
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1100px) {
                font-size: 40px;
                padding-bottom: 25px;
            }
        }
        p{
            padding-bottom: 6px;
            margin: 0;
            @media screen and (min-width: 640px) {
                font-size: 14px;
            }
            @media screen and (min-width: 992px ) {
                padding-bottom: 20px;
            }
            @media screen and (min-width: 1100px ) {
                padding-bottom: 25px;
            }
        }
        a{
            padding-top: 0;
            font-size: 12px;
            display: inline-block;
        }
        @media screen and (min-width: 1366px) {
            a{
                font-size: 12px;
            }
        }
    }

    @media screen and (min-width: 1366px) {
        padding-left: 100px;
    }
    &.active{
        display: none;
    }
}

}