#panel-versus{
    background-size: cover !important;
    background-position: center !important;
    padding: 20px 0px;
    @media screen and (min-width: 640px ) and (max-width: 991px){
        padding: 30px  25px ;
    }
    @media screen and (min-width: 992px ){
        padding: 40px  25px 40px;
    }
    @media screen and (min-width: 1100px ) {
        padding: 50px  30px 50px;
    }
    .panel-versus-wrapper{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .panel-versus-img{
            @media screen and (min-width: 480px ){
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
            @media screen and (min-width: 640px ){
                flex: 0 0 40%;
                margin-bottom: 0;
                
            }
            @media screen and (min-width: 992px ){
                flex: 0 0 50%;
            }
            img{
                display: block;
                margin: 0 auto;
                @media screen and (min-width: 992px ){
                    width: 100%;
                    max-width: 360px;
                }
            }
            
        }
        .panel-versus-article{
            // @media screen and (min-width: 992px ){
            //     margin-left: 8%;
            // }
            @media screen and (min-width: 640px ){
                flex: 0 0 60%;
            }
            @media screen and (min-width: 992px ){
                flex: 0 0 100%;
                padding-left: 30px;
            }
            @media screen and (min-width: 1100px ){
                padding-left: 85px;
                flex: unset
            }
            h2{
                font-size: 25px;
                font-weight: 400;
                padding-bottom: 10px;
                @media screen and (min-width: 640px ){
                    font-size: 30px;
                    padding-bottom: 15px;
                }
                @media screen and (min-width: 992px ){
                    font-size: 35px;
                    padding-bottom: 20px;
                }
                @media screen and (min-width: 1100px ){
                    max-width: 400px;
                    font-size: 40px;
                    padding-bottom: 25px;
                }
            }
            p{
                font-size: 12px;
                margin-bottom: 0;
                @media screen and (min-width: 640px ){
                    font-size: 14px;
                }
                @media screen and (min-width: 992px ){
                    padding-bottom: 20px;
                }
                @media screen and (min-width: 1100px ){
                    line-height: 24px;
                    padding-bottom: 25px;
                }
            }
            a{
                display: inline-block;
                font-size: 12px;
                @media screen and (min-width: 640px ){
                    padding-top: 15px;
                }
                @media screen and (min-width: 992px ) {
                    padding-top: 0;
                }
            }
        }
    }

}