#products{
    padding: 0px 15px;   
    margin-top: -206px;     
    @media screen and (min-width: 640px ) {
        padding:40px 40px;
        margin-top: -250px;
    }
    @media screen and (min-width: 992px ) {
        margin-top: -315px;
        padding: 20px 40px 30px;
    }
    @media screen and (min-width: 1100px ) {
        padding: 10px 60px 10px 60px;
        margin-top: -290px;
    }

    .section-title{
        margin-bottom: 17px;
        h2{
            font-size: 25px;
            padding-top: 0;
            font-weight: 400;
            margin-bottom: 0px;
            @media screen and (min-width: 640px ) {
                font-size: 30px;
            }
            @media screen and (min-width: 992px ) {
                font-size: 35px;
            }
            @media screen and (min-width: 1100px ) {
                font-size: 40px;
            }
        }
    }
    .products-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        width: auto;
        margin: 0 -5px;
        overflow: hidden;
        margin-bottom: 20px;
        max-width: 585px;
        @media screen and(min-width: 640px) {
            margin-top: 13px;
            max-width: unset;
        }
        @media screen and(min-width: 768px) {
            margin-top: 27px;
          }
          @media screen and(min-width: 992px){
            margin-top: 23px;
          }
          @media screen and(min-width: 1100px){
            max-width: 1080px;
            margin-top: 30px;
          }
        .product{
            text-decoration: none;
            padding-top: 7px;
            border-bottom: 8px solid $secondaryColor;
            text-align: center;
            position: relative;
            cursor: pointer;
            background: $main;
            padding-bottom: 90px;
            box-shadow: 1px 0px 10px -2px rgba(0,0,0,0.51);
            background: $main;
            transition: .4s ease-in-out;
            width: 49%;
            flex: 0 0 49%;
            margin: 5px 5px 20px 5px;
            max-width: 140px;
            @media screen and (min-width: 640px ) {
                width: 31%;
                flex: 0 0 31%;
            }
            @media screen and (min-width: 640px ) {
                width: 28%;
                flex: 0 0 28%;
                max-width: unset;
                padding-bottom: 110px;
                margin-bottom: 30px;
            }
            @media screen and (min-width: 800px ) {
                width: 22%;
                flex: 0 0 22%;
            }
            @media screen and (min-width: 992px ) {
                max-width: 210px;
                max-height: 202px;
                padding-bottom: 125px;
               
            }
            @media screen and (min-width: 1100px ) {
                margin-bottom: 73px;
            }
            h5{
                font-size: 9px;
                text-transform: uppercase;
                font-weight: 400;
                color: #0088D8;
                transition: .4s ease-in-out;
                @media screen and (min-width: 640px ) {
                    font-size: 10px;
                }
                @media screen and (min-width: 992px ) {
                    font-size:11px;
                }
                @media screen and (min-width: 1100px ) {
                    font-size: 12px;
                }
                b{
                    font-weight: 700;
                    font-size: 11px;
                    @media screen and (min-width: 640px ) {
                        font-size: 12px;
                    }
                    @media screen and (min-width: 992px ) {
                        font-size: 14px;
                    }
                    @media screen and (min-width: 1100px ) {
                        font-size: 22px;
                    }
                }

            }
            img{
                position: absolute;
                left: 50%;
                top: 48px;
                width: 100%;
                transform: translateX(-50%);
                @media screen and (min-width: 640px ) {
                    max-width: 180px;
                }
                @media screen and (min-width: 992px ) {
                    top: 61px;
                    max-width: 200px;

                }
                @media screen and (min-width: 1100px ) {
                    top: 75px;
                }
            }
            &:hover{
                background: $darkenMain;
                transition: .4s ease-in-out;
                h5{
                    color: $main;
                    transition: .4s ease-in-out;
                }
            }
        }
    }

}