#sertificats{
    background: $main;
    padding: 20px 25px;
    background: linear-gradient(90deg, rgba(124,175,228,1) 23%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    @media screen and (min-width: 640px ) and (max-width: 991px){
        padding: 30px  0px ;
        background: linear-gradient(90deg, rgba(124,175,228,1) 23%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);background: linear-gradient(90deg, rgba(124,175,228,1) 23%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    }
    @media screen and (min-width: 992px ){
        padding: 40px  0px ;
        background: linear-gradient(90deg, rgba(124,175,228,1) 23%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    }
    @media screen and (min-width: 1100px ) {
        background: linear-gradient(90deg, rgba(124,175,228,1) 23%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
        padding: 50px  30px;

    }
    @media screen and (min-width: 1366px ) {

        
    }
    .section-title{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 0;
        h3{
            font-size: 22px;
            font-weight: 400;
            @media screen and (min-width: 640px ){
                font-size: 25px;
                padding-bottom: 15px;
            }
            @media screen and (min-width: 992px ){
                font-size: 28px;
                padding-bottom: 10px;
            }
            @media screen and (min-width: 1100px ) {
                font-size: 31px;
                padding-bottom: 15px;
            }
        }
    }
    
    .certificat-wrap{
        width: 100%;
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: center;
        @media screen and (min-width: 480px ) {
            width: auto;
            margin: 0 -20px;
        }
        @media screen and (min-width: 640px ) {
            margin: unset;
            width: 100%;
        }
        @media screen and (min-width: 1100px ) {
            margin: 0 auto;
            max-width: 970px;
        }
        .certificat{
            flex: 0 0 15%;
            padding: 10px 25px;
            text-align: center;
            @media screen and (min-width: 460px ) {
                flex: 0 0 33%;
                padding: 10px 20px;
                // margin-bottom: 20px;
            }
            @media screen and (min-width: 768px ) {
                flex: 0 0 20%;
                padding: 10px 25px;
            }
            @media screen and (min-width: 992px ) {
                // width: 17%;
            }
            img{
                display: block;
                margin: 0 auto 20px;

            }
            span{
                display: block;
                line-height: 18px;
                color: #5A5A5A;
                font-size: 14px;
            }
            &:last-child{
               margin-bottom: 0;
               width: 100%;
            }
        }
    }
}